body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #FFFFFF;
	text-align: center;
}

.buffer {
	height: 10rem;
}

hr {
	border-color: #ffa229;
	border-width: 3px;
	padding: 5px;
	max-width: 70px;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-primary {
	background-color: #ffa229;
	border-color: #ffa229;
}

.btn-primary:hover {
	background-color: #ffa229;
	border-color: #ffa229;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem
}

